# Testing
pytest
pytest-cov
pytest-asyncio
pytest-mock
pytest-xdist
faker
locust

# Code Quality
black
isort
flake8
mypy
pylint
bandit

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]

# Jupyter & Analysis
jupyter
notebook
ipywidgets
matplotlib
seaborn
plotly

# Performance Profiling
py-spy
memory-profiler
line-profiler

# Pre-commit
pre-commit
